@model MovieIndexViewModel

<div class="card">
    <h2 class="card-header">Movies</h2>
    <ul class="list-group list-group-flush">
        @foreach (var movie in Model.Movies)
        {
            <li class="list-group-item">
                <a asp-action="Details"
               asp-route-id="@movie.Id">@movie.Title</a>
            </li>
        }
    </ul>
    <div class="card-footer">
        <label asp-for="MoviesCount"></label>: <span class="badge badge-secondary">@Model.MoviesCount</span>
    </div>
</div>
<hr />
<p><a asp-action="Add" class="btn btn-primary">Add Movie</a></p> 

