@model DirectorsDetailViewModel

<h2>Edit Director</h2>

<form asp-controller="Directors" asp-action="Edit" method="post">
    <label asp-for="FirstName" />
    <input asp-for="FirstName" value="@Model.FirstName" /><br />

    <label asp-for="LastName" />
    <input asp-for="LastName" value="@Model.LastName"/>
</form>
