@model DirectorDetailsViewModel

<h2>@ViewBag.Action Director</h2>

@* repost to same method (for use of HiddenInput Id from ViewModel - convention adds this to action-route) *@
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName" /><br />
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName" /><br />
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a  asp-action="Index" class="btn btn-warning">Cancel</a>
</form>
