@model DirectorIndexViewModel

<div class="card">
    <h2 class="card-header">Directors</h2>
    <ul class="list-group list-group-flush">
        @foreach (var director in Model.Directors)
        {
            <li class="list-group-item">
                <a asp-action="Details"
               asp-route-id="@director.Id">@director.LastName @director.FirstName</a>
            </li>
        }
    </ul>
    <div class="card-footer">
        <label asp-for="DirectorsCount"></label> <span class="badge badge-secondary">@Model.DirectorsCount</span>
    </div>
</div>
<hr />
<p><a asp-action="Add" class="btn btn-primary">Add Director</a></p> 
