@model DirectorsIndexViewModel

<h2>Directors</h2>

<ul>
    @foreach (var director in Model.Directors)
    {
        <li><a asp-controller="Directors" 
               asp-action="Edit" 
               asp-route-id="@director.Id">@director.FirstName @director.LastName</a></li>
    }
</ul>
